<h2>Show Blog</h2>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @blog.title %>
  </li>

  <li>
    <strong>Author:</strong>
    <%= @blog.author %>
  </li>

  <li>
    <strong>Content:</strong>
    <%= @blog.content %>
  </li>

</ul>

<span><%= link "Edit", to: blog_path(@conn, :edit, @blog) %></span>
<span><%= link "Back", to: blog_path(@conn, :index) %></span>
